.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

th {
    cursor: pointer;
    vertical-align: middle !important;
}
    th:hover {
        background-color: rgba(84, 118, 189, 30) !important;
        color: whitesmoke !important;
        transition: all 0.5s ease;
        border-radius: 10px;
    }