@{
    ViewBag.Title = "Consumo de API";
}
<div class="row">
    <div class="col-md-5">
        <h2>Inventario de sucursales</h2>
        <div id="branches">
        </div>
        <h3>Agregar sucursal</h3>
        <form id="newBranch" method="post">
            <div class="form-group">
                <label for="BranchName">Nombre:</label>
                <input type="text" class="form-control" name="BranchName" placeholder="Nombre" required/>
            </div>
            <input type="button" class="btn btn-primary" id="saveBranch" value="Agregar" />
        </form>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <table id="productsTable" class="table table-light table-striped" style="display:none;">
            <thead  class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Código de barras</th>
                    <th>Precio unitario</th>
                </tr>
            </thead>
            <tbody id="products">
            </tbody>
        </table>

        <h3>Agregar producto</h3>
        <form id="newProduct" method="post">
            <div class="form-group">
                <label for="ProductName">Nombre:</label>
                <input type="text" class="form-control" name="ProductName" placeholder="Nombre" required />
            </div>
            <div class="form-group">
                <label for="ProductBarcode">Codigo de barras:</label>
                <input type="text" class="form-control" name="ProductBarcode" placeholder="100010" required />
            </div>
            <div class="form-group">
                <label for="ProductUnitPrice">Precio unitario:</label>
                <input type="number" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="ProductUnitPrice" placeholder="5.00" required />
            </div>
            <input type="button" class="btn btn-primary" id="saveProduct" value="Agregar" />
        </form>
    </div>
    <div class="col-md-3">
        <h2>Existencias</h2>
        <form id="newInventory" method="post">
            <div class="form-group">
                <label for="BranchId">Sucursal:</label>
                <select id="branchid" class="form-control" name="BranchId" required></select>
            </div>
            <div class="form-group">
                <label for="ProductId">Producto:</label>
                <select id="productid" class="form-control" name="ProductId" required></select>
            </div>
            <div class="form-group">
                <label for="BranchUnits">Cantidad:</label>
                <input id="unitQuantity" type="number" class="form-control" pattern="^\d*$" placeholder="0" name="BranchUnits" required />
            </div>
            <input type="button" class="btn btn-primary" id="modifyInventory" value="Modificar" />
        </form>
        <h2>Buscar y editar Producto</h2>
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input class="form-control" type="text" id="searchProduct" name="mpvalue" placeholder="Buscar" />
        </div>
        <form id="editProduct">
            <div class="form-group">
                <label for="ProductName">ID:</label>
                <input id="e_pID" type="number" readonly class="form-control" name="ProductId" placeholder="0" required />
            </div>
            <div class="form-group">
                <label for="ProductName">Nombre:</label>
                <input id="e_pN" type="text" class="form-control" name="ProductName" placeholder="Nombre" required />
            </div>
            <div class="form-group">
                <label for="ProductBarcode">Codigo de barras:</label>
                <input id="e_pBC" type="text" class="form-control" name="ProductBarcode" placeholder="100010" required />
            </div>
            <div class="form-group">
                <label for="ProductUnitPrice">Precio unitario:</label>
                <input id="e_pUP" type="number" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="ProductUnitPrice" placeholder="5.00" required />
            </div>
            <input type="button" class="btn btn-primary" id="saveEditProduct" value="Guardar" />
            <input type="button" class="btn btn-danger" id="deleteProduct" value="Borrar" />
            <div id="dialog-confirm" title="¿Borrar Producto?" style="display:none;">
                <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
                El producto sera borrado junto con cualquier referencia en sucursal. ¿Desea Continuar?
                </p>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function getBranches() {
            $.getJSON('/api/Branches', function (json) {
                $('#branches').hide().empty();
                $('#branchid').empty();
                $(json).each(function (i, item) {
                    let table = $('<table></table>').addClass('table table-light table-striped');
                    let thead = '<thead class="thead-light"><tr><th>Sucursal ' + item.BranchName +
                        '</th></tr><tr><th>Producto</th><th>Código de barras</th><th>Cantidad</th><th>Precio unitario</th></tr></thead>';
                    let tbody = $('<tbody></tbody>');
                    item.Inventories.forEach((inv) => {
                        tbody.append('<tr> <td>' + inv.Product.ProductName + '</td> <td>' + inv.Product.ProductBarcode + '</td><td>' + inv.BranchUnits + '</td><td>$' + inv.Product.ProductUnitPrice.toFixed(2) + '</td></tr>');
                    });
                    table.append(thead, tbody);
                    $('#branchid').append('<option value="' + item.BranchId + '">' + item.BranchName + '</option>');
                    $('#branches').append(table);
                });
                $('#branches').fadeIn();
            });
        }
        function getProducts() {
            $.getJSON('/api/Products', function (json) {
                $('#productsTable').hide();
                $('#products').empty();
                $('#productid').empty();
                $(json).each(function (i, item) {
                    $('#products').append('<tr> <td>' + item.ProductName + '</td> <td>' + item.ProductBarcode + ' </td> <td>$' + item.ProductUnitPrice.toFixed(2) + '</td></tr>');
                    $('#productid').append('<option value="' + item.ProductId + '">' + item.ProductName + '</option>');
                });
                $('#productsTable').fadeIn();
            });
        }
        $(
            getBranches(),
            getProducts()
        );
        $('#searchProduct').autocomplete({
            source: function(request, response) {
                $.ajax({
                    type : 'GET',
                    url : "/api/Products/Search/"+request.term,
                    success : function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.ProductName,
                                value: item.ProductName,
                                pid: item.ProductId
                            };
                        }));
                    }
                })
            },
            select: function (event, ui) {
                event.preventDefault();
                $.getJSON('/api/Products/' + ui.item.pid, function (json) {
                    $('#searchProduct').val('');
                    $('#e_pID').val(json.ProductId);
                    $('#e_pN').val(json.ProductName).focus();
                    $('#e_pBC').val(json.ProductBarcode);
                    $('#e_pUP').val(json.ProductUnitPrice.toFixed(2));
                });
            }
        });
        $('#saveBranch').click(function () {
            $.post("/api/Branches",
                $("#newBranch").serialize(),
                function (value) {
                    $("#newBranch").trigger('reset');
                    getBranches();
                },
                "json"
            );
        });
        $('#saveProduct').click(function () {
            $.post("/api/Products",
                $("#newProduct").serialize(),
                function (value) {
                    $("#newProduct").trigger('reset');
                    getProducts();
                    getBranches();
                },
                "json"
            );
        });
        $('#modifyInventory').click(function () {
            $.ajax({
                url: "/api/Branches/" + $('#branchid').val() + "/Products/" + $('#productid').val()+'/?units='+$('#unitQuantity').val(),
                type: 'PUT',
                //data: $("#newInventory").serialize(),
                success: function (result) {
                    $("#newInventory").trigger('reset');
                    getBranches();
                }
            });
        });
        $('#saveEditProduct').click(function () {
            $.ajax({
                url: "/api/Products/"+ $('#e_pID').val(),
                type: 'PUT',
                data: $("#editProduct").serialize(),
                success: function (result) {
                    $("#editProduct").trigger('reset');
                    getProducts();
                    getBranches();
                }
            });
        });
        $('#deleteProduct').click(function () {
            $( "#dialog-confirm" ).show().dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                "Borrar": function() {
                    $( this ).dialog( "close" );
                    $.ajax({
                        url: "/api/Products/"+ $('#e_pID').val(),
                        type: 'DELETE',
                        success: function (result) {
                            $("#editProduct").trigger('reset');
                            getProducts();
                            getBranches();
                        }
                    });
                },
                "Cancelar": function() {
                    $( this ).dialog( "close" );
                }
                }
            });
        });
    </script>
}